@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        This is the client application that access the Todo API 
    </h1>
    <p>
        The application login the user use OpenID Connect, and then request an authorization token to access the Todo API. 
        Original code: <a href="https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-1-MyOrg">here</a>
    </p>
    <p>Click on the Todo API in the top menu to access the backend API (if you see "Use this space to summarize your privacy and cookie use policy", click Accept)</p>

